.channel-users-container {
  display: flex;
  flex-direction: row;
}

.channel-message-col{
  background-image: image-url('channel-background.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.message-user-container {
  
}
.server-users-col {
  background-color: #2f3136;
  height: 100%;
}

.user-list {
  margin-left: 20px;
  width: 230px;
  overflow: scroll;
}

.users-count{
  color: hsla(0, 0%, 100%, .4);
  font-size: 12px;
  font-weight: 500;
  height: 30px;
  letter-spacing: .08em;
  line-height: 20px;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 8px;
  padding-top: 20px;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.user-list-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  
  
  img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  p {
    color: #b9bbbe;
    align-self: center;
    font-size: 16px;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
  }
}
