.cssload-fond {
  position: absolute;
  left: 40%;
  top: 40%;
}

.cssload-container-general {
  animation: cssload-animball_two 2.65s infinite;
  -o-animation: cssload-animball_two 2.65s infinite;
  -ms-animation: cssload-animball_two 2.65s infinite;
  -webkit-animation: cssload-animball_two 2.65s infinite;
  -moz-animation: cssload-animball_two 2.65s infinite;
  width: 66px;
  height: 66px;
}

.cssload-internal {
  width: 66px;
  height: 66px;
  position: absolute;
}

.cssload-ballcolor {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.cssload-ball_1,
.cssload-ball_2,
.cssload-ball_3,
.cssload-ball_4 {
  position: absolute;
  animation: cssload-animball_one 2.65s infinite ease;
  -o-animation: cssload-animball_one 2.65s infinite ease;
  -ms-animation: cssload-animball_one 2.65s infinite ease;
  -webkit-animation: cssload-animball_one 2.65s infinite ease;
  -moz-animation: cssload-animball_one 2.65s infinite ease;
}

.cssload-ball_1 {
  background-color: rgb(114, 136, 218);
  top: 0;
  left: 0;
}

.cssload-ball_2 {
  background-color: rgb(153, 170, 181);
  top: 0;
  left: 36px;
}

.cssload-ball_3 {
  background-color: rgb(255, 255, 255);
  top: 36px;
  left: 0;
}

.cssload-ball_4 {
  background-color: lavenderblush;
  top: 36px;
  left: 36px;
}

@keyframes cssload-animball_one {
  0% {
    position: absolute;
  }
  50% {
    top: 18px;
    left: 18px;
    position: absolute;
    opacity: 0.5;
  }
  100% {
    position: absolute;
  }
}

@-o-keyframes cssload-animball_one {
  0% {
    position: absolute;
  }
  50% {
    top: 18px;
    left: 18px;
    position: absolute;
    opacity: 0.5;
  }
  100% {
    position: absolute;
  }
}

@-ms-keyframes cssload-animball_one {
  0% {
    position: absolute;
  }
  50% {
    top: 18px;
    left: 18px;
    position: absolute;
    opacity: 0.5;
  }
  100% {
    position: absolute;
  }
}

@-webkit-keyframes cssload-animball_one {
  0% {
    position: absolute;
  }
  50% {
    top: 18px;
    left: 18px;
    position: absolute;
    opacity: 0.5;
  }
  100% {
    position: absolute;
  }
}

@-moz-keyframes cssload-animball_one {
  0% {
    position: absolute;
  }
  50% {
    top: 18px;
    left: 18px;
    position: absolute;
    opacity: 0.5;
  }
  100% {
    position: absolute;
  }
}

@keyframes cssload-animball_two {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(360deg) scale(1.3);
  }
  100% {
    transform: rotate(720deg) scale(1);
  }
}

@-o-keyframes cssload-animball_two {
  0% {
    -o-transform: rotate(0deg) scale(1);
  }
  50% {
    -o-transform: rotate(360deg) scale(1.3);
  }
  100% {
    -o-transform: rotate(720deg) scale(1);
  }
}

@-ms-keyframes cssload-animball_two {
  0% {
    -ms-transform: rotate(0deg) scale(1);
  }
  50% {
    -ms-transform: rotate(360deg) scale(1.3);
  }
  100% {
    -ms-transform: rotate(720deg) scale(1);
  }
}

@-webkit-keyframes cssload-animball_two {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.3);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(1);
  }
}

@-moz-keyframes cssload-animball_two {
  0% {
    -moz-transform: rotate(0deg) scale(1);
  }
  50% {
    -moz-transform: rotate(360deg) scale(1.3);
  }
  100% {
    -moz-transform: rotate(720deg) scale(1);
  }
}