.channel-message-col {
  width: 100%;
  min-width: 400px;
  background-color: #37393e;
}

.message-user-icon {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid transparent;
  background-color: #37393e;
}