.server-index-col {
  min-width: 75px;
  background-color: #202225;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.server-index-col::-webkit-scrollbar {
  width: 0 !important
}

@keyframes pulse_animation {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.08);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}


.server-link {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  margin-bottom: 10px;
  margin-right: 1px;
  img {
    width: 52px;
    height: 52px;
    margin-right: 11px;
    border-radius: 27px;
    background-color: #2f3136;
  }
  img:hover{
    background: #7289DA;
    -webkit-animation: bounce 1s;
    animation-name: stretch;
    animation-duration: 1.5s; 
    border-radius: 10px;
    transition-duration: 1.5s;
  }
}

.home-link {
  margin-top: 10px;
  height: 50px;
  width: 50px;
  position: relative;
  z-index: 1;
}

.home-server-span {
  width: 35px;
  // border-top: 2px solid hsla(0, 0%, 100%, .3);
   border-top: 2px solid #535559;
  margin-top: 10px;
  margin-bottom: 5px;
}

.server-new {
  color: #535559;
  display: flex;
  font-size: 20px;
  font-weight: 300;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: 1px dashed #535559;
  margin: 0 auto;
  padding-left: 1px;
  margin-bottom: 10px;
  margin-top: 5px;
  width: 55px;
  height: 55px;
}

.server-link-span {
    border-right: 5px solid transparent;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    height: 45px;
    margin-right: 5px;
}

.server-new:hover {
  border-color: hsla(0, 0%, 100%, .75);
  color: hsla(0, 0%, 100%, .75);
  
}

.server-link-selected .server-link-span{
  border-color: hsla(0, 0%, 100%, .75);
}
