.server-index-col {
  width: 70px;
  background-color: #202225;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.server-link {
  // display: block;
  height: 60px;
  width: 60px;
  position: relative;
  z-index: 1;
}

.home-link {
  margin-top: 10px;
  height: 50px;
  width: 50px;
  position: relative;
  z-index: 1;
}

.home-server-span {
  width: 35px;
  // border-top: 2px solid hsla(0, 0%, 100%, .3);
   border-top: 2px solid #535559;
  margin-top: 10px;
  margin-bottom: 5px;
}

.server-new {
  color: #535559;
  width: 55px;
  height: 55px;
  display: flex;
  font-size: 20px;
  font-weight: 300;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: 1px dashed #535559;
  margin: 0 auto;
  padding-left: 1px;
}

.server-new:hover {
  border-color: hsla(0, 0%, 100%, .75);
  color: hsla(0, 0%, 100%, .75)
}

    // width: 60px;
    // height: 60px;
    // border: 1px solid #585858;
    // border-style: dashed;
    // border-radius: 30px;
    // margin: 5px 10px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    